* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  margin: 0 auto;
}

/* Clearfix -what does this mean? */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile stacking of images*/
.col-4 {
  width: 100%;
}


/* Desktop grid */
@media only screen and (min-width: 640px) {

  .col-4 {
    width: 33.33333333%
  }


}
