* {
  box-sizing: border-box;
}

main .row {
  margin-top: 100px;
  margin-bottom: 20px;
}

header {
  margin-top: -22px;
  height: 150px;
  background-color: orange;
}

h1 {
  padding-top: 20px;
}

h1, .navbar h4 {
  padding-left: 50px;
}

img {
  width: 100%;
}

.col-4 {
  padding: 10px 10px 10px 10px;
  border: 0.5px solid #dddddd;
}
